@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2013-07-06 16:16:54
 * @version $Id$
 */
/** float box 盒子浮动 **/
.left{float:left;}
.right{float:right;}

/** clear float 清除浮动 **/
.clr{
    clear:both;
    height:0;
    line-height:none;
    overflow:hidden;
    width:100%;
    zoom:1;
}

.clearfix:after{
    clear:both;
    content:" ";
    display:block;
    height:0;
    line-height:none;
    overflow:hidden;
    visibility:hidden;
    width:100%;
    zoom:1;
}

/** isblock 是否块状元素 **/
.block{display:block;}
.inline{display:inline;}
.hide{display:none;}

/** posittion 元素定位 **/
.rel{position:relative;}
.abs{position:absolute;}
.fix{position:fixed;}


/* create Rounded 生成四圆角 */
.rad{
    -moz-border-radius: 15px; /* Firefox */
    -webkit-border-radius: 15px; /* Safari 和 Chrome */
    border-radius: 15px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}

/** 生成陰影 **/
.shadow{
    -moz-box-shadow:0 5px 15px #000;
    -webkit-box-shadow:0 5px 15px #000;
    box-shadow:0 5px 15px #000;
}

.rad,.shadow{
    position:relative;
    z-index:100;
    behavior:url(../css/ie-css3.htc);
}

/*
 * 垂直居中
 */
.vertical_outer{
    display:table-cell;
    vertical-align:middle;
    *position:relative;/* 作用于IE  */
    height: 100%;
}

.vertical_mid{
    *position:absolute;/* 作用于IE  */
    *left:0;
    *top:50%;
    width:100%;
}

.vertical_outer .vertical_mid .vertical_inner{
    *position:relative;
    *top:-50%;
}

.vertical_outer,
.vertical_mid,
.vertical_inner{*display:block;}/* 由於ie不支持display:table-cell; */